#dropper
{
        border:3px solid #505050;
        border-radius:5px;
        height:300px;
        width:30%;
        float:left;
}
#status
{
        border:3px solid #505050;
        border-radius:5px;
        width:30%;
        float:right;
        display:none;
}
/*
@-webkit-keyframes hov {
    from {background-color: white;border:3px solid yellow;  }
    to {background-color: yellow;border:3px solid white;  }
    from {background-color: yellow;border:3px solid white;  }
    to {background-color: red;border:3px solid red;  }
}
*/
